<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Iceberg Search</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" type="text/css" title="reset-css" >
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" defer>
</head>
<body>

<div ng-controller="MainCtrl">

	<h1>Iceberg Movies</h1>
	<br>
	
	<div class="col-sm-6 form-group">
		<label for="searchbar">Search</label>
		<input id="searchbar" placeholder="search movie by title" ng-model="searchbar" class="form-control input-lg" ng-change="search()"/>
		<label class="control-label" for="inputError">{{errorMessage}}</label>
	</div>
	<br><br>
	<div class="col-sm-12 form-group">
		<div ng-show="0 < dataSource.movies.length">
      <p>Matched <strong>{{dataSource.movies.length}}</strong> of <strong>{{dataSource.total}}</strong> movies total
    </div>
		<div ng-show="0 === dataSource.movies.length">
        <p>No matching items</p>
    </div>
		<ul>
      <li ng-repeat="movie in dataSource.movies | offset: currentPage*pageSize | limitTo: pageSize">
        <h2>{{movie.title}}</h2>
        <p><strong>Year </strong><span>{{movie.year}}</span></p>
        <p ng-hide="filter"><strong>Rating </strong><span>{{movie.rating}}</span></p>
        <p ng-hide="filter"><strong>Duration </strong><span>{{movie.duration/60}} minutes</span></p>
        <p ng-hide="filter">
          <strong>Actors </strong>
          <ul ng-hide="filter">
            <li ng-repeat="actor in movie.actors.list">
              <span>{{actor.name}}</span>
            </li>
          </ul>
        </p>
      </li>
    </ul>

	<div class="pagination">
		<ul>
			<li ng-class="prevPageDisabled()">
				<a href ng-click="prevPage()">« Prev</a>
			</li>
			<li ng-repeat="n in range()"
				ng-class="{active: n == currentPage}" ng-click="setPage(n)">
				<a href="#">{{n+1}}</a>
			</li>
			<li ng-class="nextPageDisabled()">
				<a href ng-click="nextPage()">Next »</a>
			</li>
		</ul>
	</div>
	</div>
</div>
	<script src="js/lib/angular.js"></script>
	<script src="js/vendor/bower_components/angular-resource/angular-resource.js"></script>
	<script src="js/app.js"></script>
</body>
</html>